{
    "SisAppPulse": {
            "url": "http://myd-vm22177:8080/SiteScope/api",
            "Authorization": "Basic YWRtaW46YWRtaW4="
     },
    "SisOnAmazon": {
            "url": "http://ec2-52-201-214-26.compute-1.amazonaws.com:8080/SiteScope/api",
            "Authorization": "Basic YWRtaW46YWRtaW4="
     }
     

}
