{
    "variables":{
      "default_sis"  :"SiteScope_Instanse_1"
    },
    "instances":{
        "SiteScope_Instanse_1": {
                "url": "http://[your host]:8080/SiteScope/api",
                "Authorization": "Basic [your base64 encoded auth]"
         },
        "SiteScope_Instanse_X": {
                "url": " http://[your host]:8080/SiteScope/api",
                "Authorization": "Basic [your base64 encoded auth]"
         }
    },
    "help_commands":{
        "Show/reload configuration ": {
                "Description": "Show or reload SiteScope instances configuration file",
                "Syntax": "SiteScope show config file\nSiteScope reload config file",
                "Examples":""
         },
        "Add acknowledgement": {
                "Description": "Add acknowledgement to entity",
                "Syntax": "SiteScope add ack for [Entity full path] disable [Comment]\nSiteScope add ack for [Entity full path] enable [Comment]",
                "Examples":"SiteScope add ack for memMonitors/mem disable I'm on it\nSiteScope add ack for memMonitors/mem enable it's OK now"
         },
        "Enable/disable Entity": {
                "Description": "Enable or disable entity , monitor or group",
                "Syntax": "SiteScope [enable | disable] [entity type] [Entity full path]",
                "Examples":"SiteScope enable group HPE/M1\nSiteScope disable group HPE/M1\nSiteScope enable monitor memMonitors/mem\nSiteScope disable monitor memMonitors/mem"
         },
        "Get monitors list": {
                "Description": "Get monitors list (recursive) in group",
                "Syntax": "SiteScope get monitors in group [Group full path]\nSiteScope get monitors recursive in group [Group full path]",
                "Examples":"SiteScope get monitors in group HPE/M1\nSiteScope get monitors recursive in group HPE/M1"
         },
        "health": {
                "Description": "get all monitors status for target or tag",
                "Syntax": "SiteScope health of [Target | Tag]",
                "Examples":"SiteScope health of target SiteScope Server\nSiteScope health of tag DockerTag"
         },
        "Search monitor/group": {
                "Description": "Search monitors, group , tag or all",
                "Syntax": "SiteScope search [entity type] for [Entity name]",
                "Examples":"SiteScope search monitors for mem\nSiteScope search group for memMonitors\nSiteScope search tag for DockerMonitors\nSiteScope search all for Docker"
         },
        "Run monitor/group": {
                "Description": "Run monitor, for monitors in group set group's path",
                "Syntax": "SiteScope run monitors [Entity full path]",
                "Examples":"SiteScope run monitors memMonitors/mem\nrun monitors in group: SiteScope run monitors HPE/M1"
         }
    }
}
